
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web-app h1{
    text-align: center;
}
.balance-container #balance{
    font-size: center;
    padding-right: 20px;
}
h2{
    text-transform: uppercase;
}
.cash-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    box-shadow: 10px blue;
    justify-items: center;
    justify-content:end;
    align-content: center;
    text-align:center;
    padding-right: 30px;
    
}
.income-cont{
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
}
.income-cont{
    border-right:1px 
    

}
.income-cont{
    padding-left: 40px;
}
#income{
    color: blue;
    font-weight: bold;
    text-align: center;
}
#expense{
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
#transaction{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#transaction li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border:40px 30px solid;
    box-shadow: 20px;
    background-color: whitesmoke;
    box-shadow: 50px;
    padding-right: 1px;
}
#h2{
    text-align: center;
}
#transaction li button{
    padding-left: 3px;
    font-weight: bold;
}
#transaction li.income-amnt{
    display: inline-block;
    font-display: blue;
    padding-left: 10px;
}
transaction li button :hover{
    background-color: red;
    border-radius: 10px;
    color: red;
}
.form-container form{
    display: flex;
    flex-direction: column;
    width: 290px;

}
#form-container labels{
    padding-bottom: 10px;

}
#name, #amount{
    height: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 5px;
}
.form-container form{
    padding: 10px;
    padding-top: 10px;
}
#expenseBtn{
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
    margin-top: 15px;
    background-color: red;
    align-items: center;
    justify-content: center;
}
#incomeBtn{
    background-color: blue;
    border-radius: 10px;
    width: 50%;
    margin-top: 15px;
}